<div class="auth-container">
  <h2>Regitrar</h2>
  <form action="/register" method="POST">
    <div class="form-control">
      <label for="name">Nome:</label>
      <input type="text" name="name" placeholder="Digite o seu nome" required>
    </div>
    <div class="form-control">
      <label for="email">E-mail:</label>
      <input type="email" name="email" placeholder="Digite o seu email" required>
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="Digite sua senha" required>
    </div>
    <div class="form-control">
      <label for="confirmpassword">Confirmação de Senha:</label>
      <input type="confirmpassword" name="confirmpassword" placeholder="confirm sua senha" required>
    </div>
    <input type="submit" value="Cadastrar">
    <p>Já tem conta? <a href="/login">Clique aqui!</a></p>
  </form>
</div>